.git
.gitignore
.gitattributes
.env
.env.example
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.cache
.env.local
.env.*.local
.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
